.js-meter-overlay {
    cursor: ns-resize;
}

.is-editing .js-meter-overlay {
    display: block !important;
}

// Ensure the overlay is always displayed inside the create card since there's no edit-toggle state
.js-create-post-card .js-meter-overlay {
    display: block !important;
}
